@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: 'Anton', sans-serif;
    background: var(--cor-secundaria);
}

body::before {
    content: '';
    background-image: url("../imagens/bg-desktop.gif");
    filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}

.cabecalho {
    z-index: 1;
    display: flex;
    justify-content: center;
}

.cabecalho .titulo {
    color: var(--cor-titulo-fraco);
    text-transform: uppercase;
    font-size: 52px;
    line-height: 102px;
}


.selecao-de-agentes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selecao-de-agentes .agente-grande {
    text-align: center;
    width: 30%;
    height: 60vh;
    position: relative;
}

.selecao-de-agentes .agente-grande.jogador1-escolhendo {
    background: radial-gradient(circle, rgb(10, 86, 252) 0%, rgba(255,255,255,0) 50%);
}

.selecao-de-agentes .agente-grande.jogador2-escolhendo {
    background: radial-gradient(circle, rgb(248, 7, 7) 0%, rgba(255,255,255,0) 50%);
}

.selecao-de-agentes .agente-grande img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.selecao-de-agentes .agente-grande .nome1::before, .selecao-de-agentes .agente-grande .nome2::before {
    content: '';
    height: 3px;
    width: 50%;
    position: absolute;
    bottom: -35px;
    transform: translate(-50%, -50%);
}

.selecao-de-agentes .agente-grande .nome1 h2, .selecao-de-agentes .agente-grande .nome2 h2 {
    text-transform: uppercase;
    color: var(--cor-titulo-fraco);
    position: absolute;
    bottom: -30px;
    width: 100%;
    font-size: 27px;
}

.selecao-de-agentes .agente-grande.agenteP1 .nome1::before {
    background-color: var(--cor-azul-principal);
}

.selecao-de-agentes .agente-grande.agenteP2 .nome2::before {
    background-color: var(--cor-vermelha-principal);
}

.selecao-de-agentes .lista-de-agentes {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    gap: 5px;
}

.selecao-de-agentes .lista-de-agentes .agente {
    border: 2px solid var(--cor-terciaria);
    background-color: transparent;
    width: 75px;
    height: 75px;
    cursor: pointer;
    z-index: 2;
    position: relative;
    transition: 0.1s ease-in-out;
}

.selecao-de-agentes .lista-de-agentes .agente img {
    width: 100%;
    height: 100%;
}

.selecao-de-agentes .lista-de-agentes .agente.selecionadoP1, .selecao-de-agentes .lista-de-agentes .agente.selecionadoP2 {
    background-color: var(--cor-terciaria);
}

.selecao-de-agentes .lista-de-agentes .agente:hover {
    border: 2px solid var(--cor-border-pick);
    background-color: var(--cor-terciaria);
    transform: scale(1.06);
    z-index: 2;
}

.selecao-de-agentes .lista-de-agentes .agente .tagP1,.selecao-de-agentes .lista-de-agentes .agente .tagP2 {
    font-family: 'valorant', Times, serif;
    position: absolute;
    top: 5px;
    color: var(--cor-azul-media);
    transition: opacity .3s ease-in-out;
}

.selecao-de-agentes .lista-de-agentes .agente .tagP1 {
    left: 5px;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.selecao-de-agentes .lista-de-agentes .agente .tagP2 {
    right: 5px;
    animation: text-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

