@media (max-width: 1600px) {
    .selecao-de-agentes .agente-grande {
        height: 50vh;
        min-width: 500px;
    }
}

@media (max-width: 1280px) {
    .cabecalho {
        margin: 0 27% 50px;
    }

    .cabecalho .titulo {
        font-size: 40px;
    }

    .selecao-de-agentes .agente-grande {
        height: 40vh;
        min-width: 350px;
    }

    .selecao-de-agentes .lista-de-agentes {
        max-width: 330px;
    }
}

@media (max-width: 1000px) {
    .selecao-de-agentes .lista-de-agentes .agente {
        width: 60px;
        height: 60px;
    }

    .selecao-de-agentes .agente-grande {
        height: 30vh;
        min-width: 250px;
    }
}

@media (max-width: 767px) {
    body::before {
        background-image: url('../imagens/bg-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
    }

    main {
        padding: 0 5px;
        justify-content: start;   
    }

    .cabecalho {
        margin: 50px;
    }

    .selecao-de-agentes .agente-grande {
        display: none;
    }

    .indicator {
        display: none;
    }
}

@media (max-width: 360px) {
    .cabecalho .titulo {
        font-size: 25px;
    }
}