:root {
    --cor-vermelha-principal: #D60223;
    --cor-vermelha-fraca: #ffbebe;
    --cor-marrom-fraco: #ebd5d2;

    --cor-azul-principal: #0271F7;
    --cor-azul-media: #d3ffff;

    --cor-titulo-fraco: #E7EDB4;

    --cor-padrao: #ffffff;
    --cor-secundaria: #000000;
    --cor-terciaria: #ffffff5d;

    --cor-valorant: #FF4B50;
    --cor-border-pick: #ffeba8;
}